:root {
  --color-primary-dark: #024e82;
  --color-primary-light: #86a1b3;
  --color-secondary-dark: #d6763c;
  --color-secondary-light: #dda888;
  --color-heading: #1d1d1d;
  --color-text: #555555;
}
